body, html {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body, td, th {
  font-family: sans-serif;
  font-size: 11px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  background: #f0f0f0;

  & > aside {
    font-size: 11px;
    display: block;
    width: 140px;
    background: #bbb;
    box-shadow: -1px 0 5px rgba(255, 255, 255, 0.8) inset, -1px 0 #888 inset, 1px 0 3px #888 inset;

    & > ul {
      margin: 0 0 0 -1px;
      padding: 0;
      display: block;
      height: 100%;

      > li > ul {
        list-style: none;
        padding: 0 0 0 4px;
        width: 133px;
        margin: 0;
        display: none;

        box-shadow: 1px 0 3px #000 inset;

        a {
          width: 133px;
          background: #c1c1c1;
          box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 0.6) inset;
          &:hover {
            background: #ddd;
          }
          &.active {
            background: #aaa;
            box-shadow: 1px 1px 2px #888 inset;
          }
        }
      }

      a {
        display: block;
        border: 1px solid #888;
        background: #ddd;
        text-decoration: none;
        color: #000000;
        margin: -1px 0 0 0;
        padding: 4px 8px;
        cursor: inherit;
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8) inset, 0 5px 10px -5px rgba(255, 255, 255, 0.7) inset;
        width: 140px;
        &:hover {
          background: #eee;
        }
        &.active {
          background: #aaa;
          box-shadow: 1px 1px 2px #888 inset;
        }
      }
    }
  }
  & > main {
    flex-grow: 1;
    flex-shrink: 0;
    display: block;
    overflow-y: scroll;

    & > header {
      background: #bbb;
      border-bottom: 1px solid #888;
      padding-top: 4px;
      padding-left: 4px;
      padding-right: 4px;
      height: 26+34px;
      position: relative;
    }
  }
}

#login-form {
  display: block;
  margin: 100px auto 0;
  max-width: 300px;
  min-height: 100px;

  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#logo {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-shadow: #ccc 1px 1px;
}

#title {
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: 14px;
  text-shadow: #ccc 1px 1px;
  font-weight: bold;
  color: #444;
}

#version {
  font-size: 12px;
  font-weight: bold;
  color: #444;
  text-shadow: #ccc 1px 1px;
  margin-left: 4px;
}

#tabs {
  font-size: 11px;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 4px;
  top: 33px;

  li {
    float: left;
    margin: 0;
    padding: 0;
    a {
      float: left;
      margin: 4px 2px 0 0;
      padding: 4px 8px 5px 8px;
      background: #aaa;
      background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888));
      border: 1px solid #888;
      border-bottom: none;
      border-radius: 3px 3px 0 0;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9) inset, 0 1px 20px 10px rgba(240, 240, 240, 0.7) inset, /* top gradient */ 0 1px rgba(255, 255, 255, 0.2);
      color: #000;
      text-decoration: none;
      white-space: nowrap;
      cursor: inherit;
      &.active {
        padding-top: 6px;
        margin-top: 2px;
        background: #f0f0f0;
        box-shadow: 1px 1px 2px #fff inset, 0 1px 20px 0 rgba(240, 240, 240, 0.2) inset, 0 2px #f0f0f0;
      }
      &:hover:not(.active) {
        background: #eee;
      }
    }
  }
}

#content {
  padding: 15px;
}

.table {
  position: relative;
  table-layout: fixed;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  tr.disabled {
    color: #888;
    font-style: italic;
  }
  th {
    text-align: left;
    font-weight: bold;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #ddd;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9) inset, 0 5px 10px -5px rgba(255, 255, 255, 0.5) inset;
  }
  td {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    empty-cells: show;
    padding: 4px;
  }
}

h2 {
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  padding: 12px 4px 2px 6px;
  margin: 0 0 1px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px #fff;
}

div.row {
  display: flex;

  .name {
    flex-shrink: 0;
    flex-grow: 0;
    font-weight: bold;
    text-align: right;
    flex-basis: 25%;

    padding: 7px 1em;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: #fff 1px 1px;
    border-top: 1px solid #ddd;
  }
  &.changed {
    .name {
      color: blue;
    }
  }

  .value {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 75%;
    border-top: 1px solid #ddd;
    padding: 7px 1em;
    &.input {
      padding: 2px 1em;
    }

    input, select {
      color: #000;
      background: #fff;
      margin: 2px;
      padding: 2px;
      border: 1px solid #888;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      &[type=checkbox] {
        font-size: 11px;
        border: none;
        margin: 4px 2px 0 2px;
        padding: 0;
        vertical-align: middle;
        box-shadow: none;
      }
    }
  }
}

.toolbar {
  margin-bottom: 15px;
  span {
    display: inline-block;
    width: 20px;
  }
  a {
    margin: 2px 4px 2px 0;
    padding: 5px;
    background: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8) inset, 0 10px 10px -5px rgba(255, 255, 255, 0.5) inset, /* top gradient */ 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #000;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: inherit;
    min-width: 4em;
    display: inline-block;
    &:hover {
      background: #eee;
    }
    &:active {
      background: #aaa;
      box-shadow: 1px 1px 2px #999 inset;
    }
  }
}